<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--URI 처리-->

<mapper namespace="com.ssg.todoservice.mapper.TodoMapper">

    <insert id="insert" >
        INSERT INTO tbl_todo (title, dueDate, writer)
        VALUES (#{title}, #{dueDate, jdbcType=DATE, javaType=java.time.LocalDate}, #{writer})
    </insert>

     <select id="selectAll" resultType="com.ssg.todoservice.domain.TodoVO">
        SELECT tno, title, dueDate, writer, finished
        FROM tbl_todo
        ORDER BY tno DESC
    </select>

    <select id="selectOne" resultType="com.ssg.todoservice.domain.TodoVO">
        SELECT tno, title, dueDate, writer, finished
        FROM tbl_todo
        WHERE tno = #{tno}
    </select>

    <select id="getTime" resultType="string">
        SELECT NOW()
    </select>
    
    <delete id="delete">
        delete from tbl_todo where tno = #{tno}
    </delete>

    <update id="update">
        update tbl_todo set title = #{title}, dueDate = #{dueDate},
        finished = #{finished} where tno = #{tno}
    </update>

</mapper>