<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--URI 처리-->

<mapper namespace="com.ssg.todoservice.mapper.TodoMapper">

    <resultMap id="TodoResultMap" type="com.ssg.todoservice.dto.TodoDTO">
        <id property="tno"    column="tno"/>
        <result property="title"   column="title"/>
        <result property="dueDate"  column="dueDate" jdbcType="DATE" javaType="java.time.LocalDate"/>
        <result property="writer"  column="writer"/>
        <result property="finished"  column="finished"/>
    </resultMap>

<!--java.timeLocalDate 매핑 : JSR-310 타입 핸들러 이용-->
    <insert id="insert" parameterType="com.ssg.todoservice.dto.TodoDTO">
        INSERT INTO tbl_todo (tno, title, dueDate, writer, finished)
        VALUES (#{tno}, #{title}, #{dueDate, jdbcType=DATE, javaType=java.time.LocalDate}, #{writer}, #{finished})
    </insert>

     <select id="findAll" resultMap="TodoResultMap">
        SELECT tno, title, dueDate, writer, finished
        FROM tbl_todo
        ORDER BY tno
    </select>

    <select id="findById" parameterType="string" resultMap="TodoResultMap">
        SELECT tno, title, dueDate, writer, finished
        FROM tbl_todo
        WHERE tno = #{tno}
    </select>
</mapper>